.popover-body > .badge {
    margin: .25em;
    white-space: normal;
    text-align: justify;
    font-size: 85%;
}

[v-cloak] {
    display: none;
}

.cell-hover > tbody td:hover {
  background-color: rgba(0,0,0,.075);
}

.table-hover > tbody tr:hover > td {
  background-color: rgba(0,0,0,.075);
}

#app {
  background-color: white;
  height: 100%;
  box-shadow: 0 0 3px 0.3px rgba(0,0,0,0.50);
}

body {
  background-image: url('../images/concrete_seamless.gif');
}